<% provide(:title, "Help") %>


<div class="help">
<h1>GIVE ME 5 SECONDS PLEASE </h1> 
<h1> TRYING MY BEST</h1>
<h1>TO HELP YOU</h1>
</div>
 
 <style>
body {
	background-color:#700000 ;
}

.help {
  background-image: url(../assets/5.gif);
  background-repeat: no-repeat;
  background-position: center;
}
</style>